<p id="notice"><%= notice %></p>

<p>
  <strong>URL:</strong>
  <a href="<%= @repository.github_repo.rels[:html].href + '/settings/hooks' %>">Github</a>
</p>

<p>
  <strong>User:</strong>
  <%= @repository.person.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @repository.full_name %>
</p>

<p>
  <strong>Hooks:</strong>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
      </tr>
    </thead>

    <tbody>
  <% @repository.hooks.data.each do |hook| %>
      <tr>
        <td><%= hook.name %></td>
        <td><%= hook.config.rels[:self].try(:href) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
